*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;


}

body{
    height: 100%;
    width: 100%;
    background-color: #F8F9F9 ;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

section#name{
    width: 100%;
    float: right;
    font-size: large;
    border: 5px solid red;
    display: flex;
    flex-direction:column;
    background-color: #283747 ;
    
    


}
div#info{
    

    border: 5px solid red;
    float: left;
    display: flex;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction:column;
    background-color: #283747;
    
    


}
.foto{
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 5px solid red;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
   
    

}
div#contact{
    display: flex;
    
    padding: 0%;

    border: 5px solid red;

}
div#infocont{
    display: flex;

    background-color:#CCD1D1 ;
    text-align: start;

}
div#Skills{
    display: flex;

    
    border: 5px solid red;



}
div#idioma{
    display: flex;

    border: 5px solid red;

}
div#infoidio{
    display: flex;

    background-color:#CCD1D1 ;
}
div#main{
    height: 100%;
    width: 100%;
    border: 5px solid red;
    display: flex;
    flex-direction: column;


}
div#resPro{


    background-color: #283747;
    border: 5px solid red;
    display: flex;

}
div#ExpPro{

    border: 5px solid red;
    display: flex;
    background-color: #283747;



}
div#infoskills{

    background-color:#CCD1D1 ;
}
a{
    text-decoration-color: black;
}
div#inforespro{
    border: 5px solid red;
    display: flex;
    background-color:#CCD1D1 ;
    height: 100%;
    
}
h3{
    font-size: medium;
}
div#School{

    width: 100%;
    display: flex;
    border: 5px solid red;

}
div#infoSchool{
    display: flex;
    background-color:#CCD1D1 ;



}
